html {
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background: antiquewhite;
}
div {
    font-size: x-large;
    font-family:'Courier New',monospace;
}

h1 {
    width: 300px;
    border: 1px solid black; 
    padding: 20px;
    margin: 0x; 
    outline-style: solid;
    outline-width: medium; 
}